In [1]:
import pandas as pd

In [4]:
o3_and_no2 = pd.read_csv(r"..\data\processed\v2_sorted_griftpark,-utrecht-air-quality.csv")

In [5]:
o3_and_no2.head()

         date  pm25  pm10  o3  no2  so2
0  11/09/2024    24     6  16    5
1  10/09/2024    26    16  27    3
2  09/09/2024    15    14  25    3
3  08/09/2024    17    12  31    9
4  07/09/2024    25    13  34    3

In [6]:
o3_and_no2

            date  pm25  pm10  o3  no2  so2
0     11/09/2024    24     6  16    5
1     10/09/2024    26    16  27    3
2     09/09/2024    15    14  25    3
3     08/09/2024    17    12  31    9
4     07/09/2024    25    13  34    3
...          ...   ...   ...  ..  ...  ...
3665  02/02/2014          17  11   17    1
3666  01/02/2014          22  18    8
3667  31/01/2014          48  22    6
3668  30/01/2014          38  17   21    1
3669  29/01/2014               4   17    1

[3670 rows x 6 columns]

In [8]:
utrecht_additional_data = pd.read_csv(r"..\data\raw\v1_utrecht 2014-01-29 to 2024-09-11.csv")

In [9]:
utrecht_additional_data.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,utrecht,2014-01-29,3.2,-1.8,0.6,-1.0,-7.5,-4.7,-1.9,83.9,...,6.5,3,NaN,2014-01-29T08:24:35,2014-01-29T17:21:21,0.95,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,06260099999
1,utrecht,2014-01-30,4.4,-2.3,0.6,2.6,-7.2,-2.9,-1.9,83.6,...,6.3,3,NaN,2014-01-30T08:23:06,2014-01-30T17:23:12,0.00,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"06260099999,remote"
2,utrecht,2014-01-31,7.1,-2.6,2.6,4.7,-5.5,-0.2,0.0,84.0,...,6.4,3,NaN,2014-01-31T08:21:34,2014-01-31T17:25:02,0.02,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,06260099999
3,utrecht,2014-02-01,8.4,5.4,6.6,5.3,1.3,2.8,3.8,82.6,...,1.4,1,NaN,2014-02-01T08:20:01,2014-02-01T17:26:54,0.05,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,06260099999
4,utrecht,2014-02-02,7.7,3.2,5.3,5.1,-0.7,1.8,2.0,79.7,...,6.1,3,NaN,2014-02-02T08:18:25,2014-02-02T17:28:45,0.08,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,06260099999

In [10]:
utrecht_additional_data['datetime'] = pd.to_datetime(utrecht_additional_data['datetime'], format='%Y-%m-%d')

#day/month/year
utrecht_additional_data['datetime'] = utrecht_additional_data['datetime'].dt.strftime('%d/%m/%Y')

In [11]:
utrecht_additional_data.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,utrecht,29/01/2014,3.2,-1.8,0.6,-1.0,-7.5,-4.7,-1.9,83.9,...,6.5,3,NaN,2014-01-29T08:24:35,2014-01-29T17:21:21,0.95,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,06260099999
1,utrecht,30/01/2014,4.4,-2.3,0.6,2.6,-7.2,-2.9,-1.9,83.6,...,6.3,3,NaN,2014-01-30T08:23:06,2014-01-30T17:23:12,0.00,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"06260099999,remote"
2,utrecht,31/01/2014,7.1,-2.6,2.6,4.7,-5.5,-0.2,0.0,84.0,...,6.4,3,NaN,2014-01-31T08:21:34,2014-01-31T17:25:02,0.02,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,06260099999
3,utrecht,01/02/2014,8.4,5.4,6.6,5.3,1.3,2.8,3.8,82.6,...,1.4,1,NaN,2014-02-01T08:20:01,2014-02-01T17:26:54,0.05,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,06260099999
4,utrecht,02/02/2014,7.7,3.2,5.3,5.1,-0.7,1.8,2.0,79.7,...,6.1,3,NaN,2014-02-02T08:18:25,2014-02-02T17:28:45,0.08,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,06260099999

In [12]:
merged_df = pd.merge(o3_and_no2, utrecht_additional_data, left_on='date', right_on='datetime')

In [13]:
merged_df

,date,pm25,pm10,o3,no2,so2,name,datetime,tempmax,tempmin,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,11/09/2024,24,6,16,5,,utrecht,11/09/2024,14.5,9.2,...,17.3,7,10.0,2024-09-11T07:08:06,2024-09-11T20:02:59,0.25,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,remote
1,10/09/2024,26,16,27,3,,utrecht,10/09/2024,16.6,12.4,...,6.8,5,10.0,2024-09-10T07:06:28,2024-09-10T20:05:19,0.24,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,remote
2,09/09/2024,15,14,25,3,,utrecht,09/09/2024,20.2,14.0,...,16.0,6,10.0,2024-09-09T07:04:50,2024-09-09T20:07:39,0.21,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,remote
3,08/09/2024,17,12,31,9,,utrecht,08/09/2024,21.9,14.9,...,17.7,7,10.0,2024-09-08T07:03:12,2024-09-08T20:09:58,0.18,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"06260099999,remote"
4,07/09/2024,25,13,34,3,,utrecht,07/09/2024,26.4,17.6,...,16.5,6,10.0,2024-09-07T07:01:34,2024-09-07T20:12:18,0.14,Overcast,Cloudy skies throughout the day.,cloudy,06260099999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3665,02/02/2014,,17,11,17,1,utrecht,02/02/2014,7.7,3.2,...,6.1,3,NaN,2014-02-02T08:18:25,2014-02-02T17:28:45,0.08,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,06260099999
3666,01/02/2014,,22,18,8,,utrecht,01/02/2014,8.4,5.4,...,1.4,1,NaN,2014-02-01T08:20:01,2014-02-01T17:26:54,0.05,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,06260099999
3667,31/01/2014,,48,22,6,,utrecht,31/01/2014,7.1,-2.6,...,6.4,3,NaN,2014-01-31T08:21:34,2014-01-31T17:25:02,0.02,Partially cloudy,Becoming cloudy in the afternoon.,partly-cloudy-day,06260099999
3668,30/01/2014,,38,17,21,1,utrecht,30/01/2014,4.4,-2.3,...,6.3,3,NaN,2014-01-30T08:23:06,2014-01-30T17:23:12,0.00,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"06260099999,remote"
3669,29/01/2014,,,4,17,1,utrecht,29/01/2014,3.2,-1.8,...,6.5,3,NaN,2014-01-29T08:24:35,2014-01-29T17:21:21,0.95,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,06260099999

In [15]:
merged_df.to_csv('../data/processed/v1_merged_weather_data.csv')